<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TestDb"
         connectionString="Data Source=(LocalDb)\testOddJobLocalDb;Initial Catalog=unittestdb;
     Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\unittestdb.mdf"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>