<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.5.4" targetFramework="net472" />
  <package id="IntelliFactory.Xml" version="0.6.64.1" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net472" />
  <package id="WebSharper" version="4.5.5.319" targetFramework="net472" />
  <package id="WebSharper.CSharp" version="4.5.5.319" targetFramework="net472" />
  <package id="WebSharper.Html" version="4.5.1.149" targetFramework="net472" />
  <package id="WebSharper.UI" version="4.5.6.156" targetFramework="net472" />
  <package id="WebSharper.UI.CSharp" version="4.5.6.156" targetFramework="net472" />
</packages>